## GITIGNORE

# cocos2d
cocos2d/*

# proj.android
proj.android/*

# proj.android-studio
proj.android-studio/*

# proj.ios_mac
proj.ios_mac/*

# proj.linux
proj.linux/*

# proj.win32
proj.win32/*
!proj.win32/main.cpp
!proj.win32/main.h

# others